# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.PG.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\JostyQweenq\Desktop\pjt\PG\.idea\.idea.PG\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
